
@import "tailwindcss";
@layer utilities {
  .parallax-bg {
    background-attachment: fixed;
  }
}
:root {
     /** --background: url('/background.jpg') no-repeat center center fixed; **/
    --background: #011124;
    --foreground: #c0c0c0;
    --navy-blue: #011124;
    --blue-light: #96c6dc;
}



@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--navy-blue);
  --color-secondary: var(--blue-light);
  --color-antique-white: antiqueWhite;
}

@layer base {
}
@layer components {
  
  .all-link {
    @apply text-green-300 text-2xl flex items-center gap-2  px-4 py-2 rounded  transition-transform ease-in-out duration-300;
  }
  .btn-modern {
    @apply mt-2 px-6 py-2 bg-gradient-to-r from-cyan-500 to-blue-600 text-white font-semibold rounded-full shadow-lg hover:from-blue-600 hover:to-cyan-500 transition-all duration-200 focus:outline-none focus:ring-2 focus:ring-cyan-400 focus:ring-offset-2 text-base;
  }
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 25px;
  transition: all 0.3s;
  background-color: rgba(106, 115, 125, 0.2);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(106, 115, 125, 0.27);
}

::-webkit-scrollbar-corner {
  display: none;
}
